article {
    border: 1px solid black;
    box-sizing: border-box;
}

div {
    border: 1px solid black;
    box-sizing: border-box;
}

div.ueberschrift {
    font-weight: bold;
}

article.ausgaben {
    display: grid;
    grid-template-columns: auto auto auto;
}

article.behandlungen {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

article.angebote {
    display: grid;
    grid-template-columns: auto auto;
}